.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
    padding-top: 2rem;
    height: 88vh;

}

.main__topSection{
    height: 18rem;
    width: 86vw;
    border-top: 2px solid var(--color-border);
    border-bottom: 2px solid var(--color-border);
    display: flex;
    align-items: center;
    animation: slideIn 1s forwards;
}



.main__design{
    height: 5rem;
    width: 5rem;
    border: 1px solid var(--color-border);
    margin-left: 8%;
    margin-right: 13%;
}

.main__topSection h1{
    font-weight: 400;
    font-size: 3rem;
    text-wrap: nowrap;

}

.main__topSection-semicircle{
    height: 18rem;
    width: 18rem;
    border-top-right-radius:9rem;
    border-bottom-right-radius: 9rem;
    border-right: 2px solid var(--color-border);
    border-top:2px solid var(--color-border);
    border-bottom:2px solid var(--color-border);
    border-left: var(--color-background);

}



.main__midSection{

    height: 18rem;
    width: 86vw;
    border-bottom: 2px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    animation: showAndSlideIn 1s 0.8s ease-in-out forwards;
}

.main__midSection-semicircle{
    height: 18rem;
    width: 18rem;
    border-top-right-radius:8rem;
    border-bottom-right-radius: 8rem;
    border-right: 2px solid var(--color-border);
    border-top:2px solid var(--color-border);
    border-bottom:2px solid var(--color-border);
    border-left: var(--color-background);
}

.main__midSection img{
    margin-left: 5%;
    margin-right: 8%;
    animation: App-logo-spin  5s ease-in-out;
    pointer-events: none;
    width: 14rem;

}

.main__midSection img:hover{
    animation: App-logo-spin  5s ease-in-out;

}

.main__midSection p{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.2rem;
    letter-spacing: 0.08rem;
}

.main__midSection-descrip{
   max-width: 45%;
   opacity: 0;
   animation: text-ease-in 2s 2s ease-in-out forwards;
   }

.main__midSection-descrip :first-child{
   font-size: 2rem;
   font-weight: 600;
   }

.main__midSection-whatsapp img{ 
    width: 2rem;
    height: 2rem;


}
.main__midSection-whatsapp{
    max-width: 20rem;
    height: 4rem;
    border-radius: 15px;
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 300;

    display: flex;
    align-items: center;

    background: var(--color-button);

}

.main__bottomSection{
    width: 86vw;

    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    animation: text-ease-in 2s 3s ease-in-out forwards;
    
}

.main__bottomSection-title{
    display: flex;
    align-items: center;
}

.main__bottomSection-title h1{
    font-weight: 400;
    font-size: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.main__bulb img{
    height: 13rem;
    width: 12rem;
}

.main__bottomSection-icons img{

    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
    margin-top: 1rem;


}

.main__bottomSection-whatsapp{
    display: none;
}

.main__bottomSection-wrapper{
    margin-right: 2%;
}

.main__bottomSection-button {

    width: 14rem;
    height: 4rem;
    margin-top: 1rem;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: 300;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-button);
}


@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes text-ease-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }



@keyframes showAndSlideIn {
    0% {
        visibility: hidden;
        transform: translateX(-100%);
    }
    0.1% {
        visibility: visible;
    }
    100% {
        visibility: visible;

        transform: translateX(0);
    }
}

@media (max-width: 1600px){

    html{
        font-size: 10px;
    }
}

@media (max-width:1100px){
    html{
        font-size: 8px;
    }
}



@media (max-width:650px){


 .main__design{
    display:none;
 }   

 .main__topSection{
    height: 20rem;
 }

 .main__topSection-semicircle{
    height: 20rem;
    border-top-right-radius:10rem;
    border-bottom-right-radius: 10rem;
 }

 .main__topSection h1{
    margin-left: 6%;
 }
 
 .main__midSection{
    height: 26rem;
 }

 .main__midSection-semicircle{
    display: none;
 }

 .main__midSection img{
    width: 8rem;
 }

 .main__midSection-descrip{
    max-width: 90%;
   
 }

 .main__midSection-descrip p{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
 }


 .main__midSection-whatsapp{
    display: none;
 }
 


 .main__bottomSection-icons{
    display: none;
 }

 .main__bottomSection-whatsapp{

    width: 15rem;
    height: 5rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-right: 2rem;
    font-size: 2rem;
    font-weight: 300;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-button);
}

   

    .main__bottomSection{
        flex-direction: column;
        
    }

    .main__bottomSection-title{
        text-wrap: nowrap;
        width: 100%;
        justify-content: space-around;
    }

    .main__bottomSection-title h1{
        margin-top: 4rem;

    }

      .main__bottomSection-button{
        background: var(--color-button);
        height: 5rem;
        width: 15rem;
        margin-bottom: 4rem;
        margin-left: 2rem;
        border-radius: 10px;
        font-size: 2rem;
    }

    .main__bottomSection-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-top: 3rem;
    }

    .main__bulb img{
        margin-top: 3rem;
        height: 12rem;
        width: 12rem;
    }


}